div.menu {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to left,gray, black);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1{
    color: white;
}

div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
   padding: 20px 10px 20px 10px;
}

nav:hover{
    border: 3px white solid;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    background-color: #cac8b6;
}

nav a{
    color: white;
    margin-left: 15px;
}
/* rodape*/

footer h4{
    color: white;
}
footer {
    width: 100%;
    margin-top: 720px;
    height: 90px;
    background-image: linear-gradient(to left,gray, black);
    display: flex;
    justify-content: center;
    align-items: center;
}
