@charset "UTF-8";

div.meio{
    width: 20%;
}

div.descricoes{
    width: 50%;
    display: block;
    margin-top: 30px;
}

div.org{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}

div.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

div.propagandas{
    background-color: aqua;
    width: 30%;
    height: 600px;

}

h3, h2{
    margin-top: 50px;
}