@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

div.meio{
    width: 20%;
}

div.descricoes{
    width: 50%;
    display: block;
    margin-top: 30px;
    margin-top: 170px;
}

div.org{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

div.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

div.titulo h1{
    color: black;
    margin-top: 20px;
}

div.propagandas{
    border: 2px solid black;
    width: 30%;
    height: 600px;

}

h3, h2{
    margin-top: 10px;
    font-family: 'Cairo', sans-serif;
}